body{
	font-size: 150%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color:black;
}

#top { 
    background: url('../images/brickwall_@2X.png') repeat fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}
#section2 { 
    background: url('../images/IMG_0593.JPG') no-repeat fixed; 
	background-size: 100%;
    height: auto;  
    margin: 0 auto; 
    width: auto; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 200px 0;
}
#section3 { 
    background: url('../images/squares_@2X.png') 50% 0 repeat fixed; 
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}

#section4 { 
    background: url('../images/brickwall_@2X.png') repeat fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}

h1{
	font-family: 'Belleza', sans-serif;
}

h2{
	font-family: 'Belleza', sans-serif;
}

h3{
	font-family: 'Belleza', sans-serif;
}

.navbar-fixed-top{
	font-family: 'Belleza', sans-serif;
	background-color: #fff;
}

div{
	/* Fallback for web browsers that don't support RGBa */
	background-color: rgb(253, 253, 253);
	/* RGBa with 0.6 opacity */
	background-color: rgba(253, 253, 253, 0.6);
}

#indent{
	margin:0 .5 0 auto;
}

a{
	color: black;
}