body{
	background-image:url('../images/brickwall_@2X.png');
	background-repeat: repeat;
	background-attachment: fixed;
	font-size: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#container{
	/* Fallback for web browsers that don't support RGBa */
	    background-color: rgb(253, 253, 253);
	    /* RGBa with 0.6 opacity */
	    background-color: rgba(253, 253, 253, 0.4);
	width: 960px;
	margin: 0 auto 0 auto;
}

.nav nav-pills{
	float:right;
}